:root {
  --white: #ffffff;
  --primaryColor: #e60000;
  --darkGray: #707070;
  --lightGray: #fafafa;
  --lightRed: #f54845;
  --darkRed: #ce3835;
  --white: #ffff;
  --darkBlue: #162e4a;
  --extraDarkGray: #484848;
  --extraLightGray: #fafafa;
  --gray: #707070;
  --lightBlack:#142645;
}
