@font-face {
    font-family: "Cairo";
    src: local("Cairo"),url(./Cairo-VariableFont_wght.ttf);
}
@font-face {
  font-family: "DIN Next LT Arabic";
  src: local("DIN Next LT Arabic"),url(./DINNEXTLTARABIC-LIGHT-2-2.ttf);
}